.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide:not(.swiper-slide-active)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  /* background: rgba(0, 0, 0, 0.1);  */
  border-radius: 16px; /* match your slide border radius */
  z-index: 2;
}

.swiper-slide:not(.swiper-slide-active)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  /* background: rgba(0, 0, 0, 0.5);  */
  border-radius: 16px; /* match your slide border radius */
  z-index: 2;
}
