.landing-title {
  font-size: 100px;
  color: rgb(171, 171, 171);
  opacity: 0.8;
  font-weight: 700;
  margin-bottom: -20px;
}
.landing-subtitle {
  color: rgb(198, 197, 197);
  width: fit-content;
  font-size: 20px;
  margin-bottom: 50px;
}
.video-section {
  background-color: #fff; /* Match the background color of other sections */
  overflow: hidden;
  max-width: 100%;
  height: calc(100vh - 100px);
}

.video-wrapper {
  width: 300%;
  left: -100%;
  pointer-events: none;
  position: relative;
  padding-bottom: 85%; /* 16:9 aspect ratio (9 รท 16 = 0.5625 or 56.25%) */
}

.video-wrapper iframe {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 75%;
  border-radius: 10px; /* Optional: match the border-radius of other sections */
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: auto;
}

/* .video-overlay button {
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  background: #ffffffcc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.video-overlay button:hover {
  background: #fff;
} */

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
    .poster_image {
        width: 100%;
    }

    .poster_image img {
        width: 100%;
        height: 300px;

    }

    .poster_image p {
        color: black;
        position: relative;

        font-family: cursive;
    }

    .HomePage_Comp2 .flex-container,
    .HomePage_Comp3 .flex-container {
        padding: 1rem;
    }

    .HomePage_Comp2 .flex-item-right,
    .HomePage_Comp3 .flex-item-left {
        font-family: cursive;
        font-size: 1rem;
    }

    .section_3 {
        font-family: cursive;
        font-size: 1rem;
        text-align: center;
        padding: 2rem;
    }

    .HomePage_Comp1 {
        padding-bottom: 2rem;
    }

    .Section_5_content,
    .Section_3_content {
        width: 90% !important;
        margin-left: 5% !important;
    }
}


@media only screen and (min-width: 600px) {
    .HomePage_Comp1 {
        padding-bottom: 2rem;
    }

    .poster_image {
        width: 100%;
    }

    .poster_image img {
        width: 100%;
        height: 300px
    }

    .poster_image p {
        color: black;
        position: relative;
      
        font-family: cursive;
    }

    .HomePage_Comp2 .flex-container,
    .HomePage_Comp3 .flex-container {
        padding: 1rem;
    }

    .HomePage_Comp2 .flex-item-right,
    .HomePage_Comp3 .flex-item-left {
        font-family: cursive;
        font-size: 1rem;
    }

    .section_3 {
        font-family: cursive;
        font-size: 1rem;
        text-align: center;
        padding: 2rem;
    }

    .Section_5_content,
    .Section_3_content {
        width: 90% !important;
        margin-left: 5% !important;
    }
}


@media only screen and (min-width: 768px) {
    .poster_image {
        width: 75%;
    }

    .poster_image img {
        width: 100%;
        height: 500px
    }

    .poster_image p {
        color: black;
        position: absolute;
       
        width: 75%;
        top: 29rem;
        font-size: 1.5rem;
        font-family: cursive;
    }

    .what_we_do {
        margin-top: -80px !important;
    }

    .what_we_do p {
        font-family: cursive;
        font-size: 1.5rem;
    }

    .HomePage_Comp2 .flex-container,
    .HomePage_Comp3 .flex-container {
        padding: 2.5rem;
    }

    .HomePage_Comp2 .flex-item-right,
    .HomePage_Comp3 .flex-item-left {
        font-family: cursive;
        font-size: 1.2rem;
    }

    .section_3 {
        font-family: cursive;
        font-size: 1rem;
        text-align: center;
        padding: 2rem;
    }

    .Section_5_content,
    .Section_3_content {
        width: 90% !important;
        margin-left: 5% !important;
    }
}


@media only screen and (min-width: 992px) {
    .poster_image {
        width: 75%;
    }

    .poster_image img {
        width: 100%;
        height: 500px
    }

    
    .poster_image p {
        color: black;
        position: absolute;
       
        top: 25rem;
        font-size: 1.9rem;
        font-family: cursive;
        width: 75%;
    }


    .what_we_do {
        margin-top: -100px !important;
    }

    .what_we_do p {
        font-family: cursive;
        font-size: 1.5rem;
    }

    .HomePage_Comp2 .flex-container,
    .HomePage_Comp3 .flex-container {
        border-radius: 50px;
        padding: 3rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .HomePage_Comp2 .flex-item-right,
    .HomePage_Comp3 .flex-item-left {
        font-family: cursive;
        font-size: 1.2rem;
    }

    .section_3 {
        font-family: cursive;
        font-size: 1.4rem;
        text-align: center;
        padding: 3rem;
    }
}


@media only screen and (min-width: 1200px) {

    .poster_image {
        width: 75%;
    }

    .poster_image img {
        width: 100%;
        height: 500px
    }

    .poster_image p {
        color: black;
        position: absolute;
       
        top: 25rem;
        font-size: 2rem;
        font-family: cursive;
        width: 75%;
    }

    .what_we_do {
        margin-top: -50px !important;
    }

    .what_we_do p {
        font-family: cursive;
        font-size: 1.5rem;
    }

    .HomePage_Comp2 .flex-container,
    .HomePage_Comp3 .flex-container {
        padding: 3rem;
        border-radius: 50px;
        box-shadow: 5px 8px 8px 2px rgba(11, 255, 210, 0.2), 0 6px 20px 0 rgba(11, 218, 255, 0.19);
    }

    .HomePage_Comp2 .flex-item-right,
    .HomePage_Comp3 .flex-item-left {
        font-family: cursive;
        font-size: 1.6rem;
    }

    .section_3 {
        font-family: cursive;
        font-size: 1.4rem;
        text-align: center;
        padding: 3rem;
    }
}

.HomePage_Comp2 .flex-container,
.HomePage_Comp3 .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;

}

.HomePage_Comp2 .flex-container {
    background-image: linear-gradient(#7670ed, #69ffb6);
}

.HomePage_Comp3 .flex-container {
    background-image: linear-gradient(#ff5d5d, #ffff69);

}

.HomePage_Comp2 .flex-item-left,
.HomePage_Comp3 .flex-item-left {
    flex: 50%;
}

.HomePage_Comp2 .flex-item-right,
.HomePage_Comp3 .flex-item-right {
    flex: 50%;
    align-self: center;
}


@media (max-width: 800px) {

    .HomePage_Comp2 .flex-container,
    .HomePage_Comp3 .flex-container {
        flex-direction: column;
    }
}

.HomePage_Comp2 .flex-item-left img,
.HomePage_Comp3 .flex-item-right img {
    width: 100%;
}

.HomePage_Comp2 .flex-item-right,
.HomePage_Comp3 .flex-item-right {
    padding: 1rem
}

.Section_5_content p {
    font-family: cursive;
    font-size: 1.4rem;
    text-align: center;
    padding: 3rem;
}

.Section_5_content,
.Section_3_content {
    border-radius: 25px;

    margin-top: 4rem;
    margin-left: 25%;
    align-self: center;
    width: 50%;
    color: white;
    background-image: linear-gradient(180deg, #2d6de1, #2d6de1, #2d6de1, #0e4675)
}

.Section_5_content a {
    
    font-family: cursive;
}

.HomePage_Comp4 {
    width: 80%;
    margin-left: 10%;
    margin-top: 2rem;
}

.HomePage_Comp4 p {
    font-family: cursive;
    font-size: large;
    text-align: left;
}

.HomePage_Comp4 h1 {
    font-size: 40px;
}

.Section_3_content {
    margin-bottom: 3rem;
} */

.MainPage_content {
  font-family: cursive;
  font-size: larger;
  width: 75%;
  margin-left: 12.5%;
}

.MainPage_content {
  padding-bottom: 1.8rem;
}

.poster_image img {
  width: 40%;
}

@media only screen and (max-width: 820px) {
  .poster_image img {
    width: 100%;
  }
}

/*embla carousel styles*/
.embla {
  overflow: hidden;
  height: auto;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
