.navbar-gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 165, 0, 1) 100%
  );
}

button:hover {
  background-color: transparent;
}

.navbar-start {
  margin-left: 30px;
}

.navbar-end {
  margin-right: 30px;
}

#notificationButton {
  display: none;
}


.profile-dropdown {
  position: absolute;
  top: calc(100% + 18px); 
  right: 0;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 12rem;
  padding: 0.5rem 0; 
}

.profile-dropdown li {
  padding: 0.5rem 1rem; 
}

.profile-dropdown li:hover {
  background-color: #f5f5f5; 
  cursor: pointer;
}

.profile-dropdown li:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.profile-dropdown li:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
