.navbar {
    width: 10%;
    background-image: linear-gradient(120deg, #d1d8d5 0%, #c7d0cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffff00", endColorstr="#ffa500", GradientType=1);
    padding: 10px; 
    box-sizing: border-box;
}

button:hover {
    background-color: transparent;
    color: inherit; 
}
